.job-card {
  background-color: #262724;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  font-family:  sans-serif;

}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.company {
  font-size: 20px;
  font-weight: bold;
}

.role {
  color: white;
  margin-left: 10px;
  font-size: 16px;
}


.job-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.salary {
  gap: 3px;
  font-weight: bold;
}

.description {
  padding-top: 10px;
  padding: 10px;
  font-size: 16px;
  color: white;
  gap: 3px;
}

.description strong {
  color: #ffffff;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  gap: 3px;
}